# PORT=4000
# # MONGO_URI=
# MONGO_URI=mongodb://localhost:27017/zero_hunger
# JWT_SECRET=zero_hunger_local_development_secret
# APP_URI=http://localhost:4000


NODE_VERSION=v22.18.0
PORT=4000
# MONGO_URI=
# MONGO_URI=mongodb://localhost:27017/zero_hunger
JWT_SECRET=zero_hunger_local_development_secret
# APP_URI=http://localhost:4000
APP_URI=https://zero-ruby-eight.vercel.app
